@inject Balkhanakovv.WebStorage.Models.DB.WebStorageContext _db

<h1>Панель администрирования</h1>

<div class="container row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
    <div class="col">
        <div class="card text-center">
            <img src="~/img/newPassword.png" class="card-img-top" style="width: 128px; padding: 10px; margin: 0 auto;" />
            <div class="card-body">
                <h5 class="card-title">Пароль</h5>
                <h6 class="card-subtitle">Изменить пароль</h6>
                <button class="btn btn-secondary" style="margin: 10px 0 0 0;" data-bs-toggle="modal" data-bs-target="#NewPassword_Modal">
                    Пароль
                </button>

                <div class="modal fade" id="NewPassword_Modal" tabindex="-1" aria-labelledby="NewPassword_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="NewPassword_ModalLabel">Смена пароля</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="passwd_res">
                                @{
                                    await Html.RenderPartialAsync("PartialChangePassword");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <img src="~/img/documents.png" class="card-img-top" style="width: 128px; padding: 10px; margin: 0 auto;" />
            <div class="card-body">
                <h5 class="card-title">Каталог сохранения</h5>
                <h6 class="card-subtitle">Ввод нового пути</h6>
                <button class="btn btn-secondary" style="margin: 10px 0 0 0;" data-bs-toggle="modal" data-bs-target="#Filepath_Modal">
                    Путь
                </button>

                <div class="modal fade" id="Filepath_Modal" tabindex="-1" aria-labelledby="Filepath_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Filepath_ModalLabel">Путь</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller='Admin' asp-action='SetDocumentPath' method='post'>
                                    <div class="form-floating">
                                        <input id="FilePath" type="text" class="form-control" placeholder="Путь" name="path" />
                                        <label>Введите путь</label>
                                    </div>

                                    <div class="form-group">
                                        <input id="UpdatePathButton" type="submit" value="Обновить" class="btn btn-outline-dark" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <img src="~/img/registered.png" class="card-img-top" style="width: 128px; padding: 10px; margin: 0 auto;" />
            <div class="card-body">
                <h5 class="card-title">Регистрация</h5>
                <h6 class="card-subtitle">Добавление нового пользователя</h6>

                <button class="btn btn-secondary" style="margin: 10px 0 0 0;" data-bs-toggle="modal" data-bs-target="#Register_Modal">
                    Регистрация
                </button>

                <div class="modal fade" id="Register_Modal" tabindex="-1" aria-labelledby="Register_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Register_ModalLabel">Регистрация</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                @{
                                    await Html.RenderPartialAsync("PartialCreateUser");
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <img src="~/img/user.png" class="card-img-top" style="width: 128px; padding: 10px; margin: 0 auto;" />
            <div class="card-body">
                <h5 class="card-title">Пользователи</h5>
                <h6 class="card-subtitle">Список пользователей</h6>

                <button class="btn btn-secondary" style="margin: 10px 0 0 0;" data-bs-toggle="modal" data-bs-target="#Users_Modal">
                    Пользователи
                </button>

                <div class="modal fade" id="Users_Modal" tabindex="-1" aria-labelledby="Users_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Users_ModalLabel">Пользователи</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Имя пользователя</th>
                                            <th>Группа</th>
                                            <th>Потраченная память</th>
                                            <th>Лимит</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in _db.Users)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@_db.Groups.Where(x => x.Id == item.GroupId).FirstOrDefault()?.Name</td>
                                                <td>@item.MemorySize</td>
                                                <td>@_db.Rates.Where(x => x.Id == item.RateId).FirstOrDefault()?.Size</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card text-center">
            <img src="~/img/newPassword.png" class="card-img-top" style="width: 128px; padding: 10px; margin: 0 auto;" />
            <div class="card-body">
                <h5 class="card-title">Забыли пароль</h5>
                <h6 class="card-subtitle">Сбросить пароль</h6>
                <button class="btn btn-secondary" style="margin: 10px 0 0 0;" data-bs-toggle="modal" data-bs-target="#RecoverPassword_Modal">
                    Пароль
                </button>

                <div class="modal fade" id="RecoverPassword_Modal" tabindex="-1" aria-labelledby="RecoverPassword_ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="RecoverPassword_ModalLabel">Сброс пароля</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="passwd_res">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

