@model Balkhanakovv.WebStorage.ViewModels.ChangePasswordModel
<div id="partialwindow">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <form id="changePasswdForm">
        <div>
            <div class="form-floating">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Старый пароль" />
                <label asp-for="OldPassword">Введите старый пароль</label>
                <span asp-validation-for="OldPassword" />
            </div>

            <div class="form-floating">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Новый пароль" />
                <label asp-for="NewPassword">Введите новый пароль</label>
                <span asp-validation-for="NewPassword" />
            </div>

            <div class="form-floating">
                <input asp-for="RepeatPassword" type="password" class="form-control" placeholder="Повторите пароль" />
                <label asp-for="RepeatPassword">Повторите новый пароль</label>
                <span asp-validation-for="RepeatPassword" />
            </div>
        </div>
    </form>

    <button id="UpdatePasswordButton" class="btn btn-outline-dark" onclick="
    var data = $('#changePasswdForm').serialize();

    $.ajax({
        url: '@Url.Action("PartialChangePassword", "Admin")',
        type: 'post',
        data: data,
        cache: false,
        success: function (e) {
            $('#partialwindow').html(e);
        }
    })
">
        Применить
    </button>
</div>