@using Balkhanakovv.WebStorage.Models.DB
@inject Balkhanakovv.WebStorage.Models.DB.WebStorageContext _db

@{
    List<User> users = new();

    foreach (var item in _db.ForgottenPasswords.ToList())
    {
        var user = _db.Users.Where(x => x.Id == item.UserId && !item.IsRestored)?.FirstOrDefault();
        if (user != null)
        {
            users.Add(user);
        }
    }
}

<div id="recoveryPasswordContainer">
    <form>
        <div class="form-floating">
            <label>Выберите пользователя</label><br />
            <select id="dropdownList" class="form-select">
                @foreach (var item in users)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>

        <div>
            <button type="button" class="btn" onclick="
                    $.ajax({
                        url: '@Url.Action("RestorePassword", "Admin")',
                        method: 'post',
                        data: {userId: $('#dropdownList').val()},
                        cache: false,
                        success: function (e) {
                            console.log(e);
                            $('#recoveryPasswordContainer').html(e);
                        }
                   });
               ">
                Сбросить
            </button>
        </div>
    </form>
</div>
