@using Balkhanakovv.WebStorage.Models.DB
@model List<Document>

@inject Balkhanakovv.WebStorage.Models.DB.WebStorageContext _db

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    @if (Model.Count == 0)
    {
        <h4>У вас пока нет загруженных файлов</h4>
    }
    else
    {
        <div class="container-fluid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Размер</th>
                        <th scope="col">Владелец</th>
                        <th scope="col">Тип</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                        <tr scope="row">
                            <td>@file.Name</td>
                            <td>@Math.Round((double)file.Size, 2)</td>
                            <td>@_db.Users.Where(u => u.Id == file.UserId)?.FirstOrDefault()?.Name</td>
                            <td>@_db.Types.Where(t => t.Id == file.TypeId)?.FirstOrDefault()?.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
