@using Balkhanakovv.WebStorage.Models.DB
@model List<Document>

@inject Balkhanakovv.WebStorage.Models.DB.WebStorageContext _db
@inject Balkhanakovv.WebStorage.Services.StoragePathService.IStorageService _path

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    @{
        await Html.RenderPartialAsync("PartialFileTable", @Model);
    }
</div>